
@{
    ViewBag.Title = "Manage";
}

<h2>Manage Students</h2>
<div class="container">

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-default" href="/Students">
                    View All Students
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-default" href="/Students/UnAssigned">
                    View Un-assigned Students
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-default" href="/Students/Assigned">
                    View Assigned Students
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <a class="btn btn-default" href="/StudentGradeSubjectHistories/Index">
                    View Student Subject Histories
                </a>
            </div>
        </div>
    </div>
</div>
